.news-box-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
}
.news-box-container h1 {
  text-shadow:  0 0 10px #ff4da6, 0 0 30px #712ae4;
  max-width: 1000px;
  margin-bottom: 50px;
}
.news-box-container p {
  max-width: 1000px;
  padding-bottom: 50px;
  border-bottom: 1px solid #712ae4;
}