.generic-button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 22px 20px;
  cursor: pointer;
  text-decoration: none;
  
  font-weight: 500;
  color: #712ae4;
  
  box-sizing: border-box;
  border-style: solid;
  border-color: #712ae4;
  border-width: 1px;
  border-radius: 20px;
}
.generic-button:hover {
  background-color: #712ae4;
  border-color: transparent;
  color: black;
  font-weight: 600;
}